* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-dark: rgb(48, 48, 48); /* header and footer*/
    --light-color: #ffff;
    --background-light: lightgray;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

h1, h2, h3 {
    padding: 1rem;
}

h1 {
    background-color: var(--background-dark);
    color:var(--light-color);
    height: 20vh;
}

header {
    grid-column: 1/3;
    height: 26.5vh;
}

.main-content {
    grid-column: 1/2;
    background-color: var(--background-light);
    height: 50vh;
}

aside {
    grid-column: 2/3;
}

h2 {
    color: #000;
}

/* MENU */
ul {
    display: flex;
    justify-content: space-around;
    background-color: #000;
}

li {
    margin: 1rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--light-color);
    display: block;
}
/* END MENU */

footer {
    padding: 1rem;
    background-color: var(--background-dark);
    color: var(--light-color);
    text-align: center;
    grid-column: 1/3;
    height: 23.5vh;
}