* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --general-font: 'Roboto', 'Times New Roman', Times, serif;
}

body {
    font-family: var(--general-font);
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(173, 191, 230);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 2rem 1rem;
    background-color: white;
}